body{}

.Department1_up{
    background-color:#8792F2;
    -webkit-border-radius:10px 10px 0 0;
    -moz-border-radius:10px 10px 0 0;
    -ms-border-radius:10px 10px 0 0; 
    -o-border-radius:10px 10px 0 0;
}

.Department1_down{
    background-color:#8792F2;
   -webkit-border-radius:0 0 10px 10px ;
   -moz-border-radius:0 0 10px 10px ;
   -ms-border-radius:0 0 10px 10px ;
   -o-border-radius:0 0 10px 10px ;
}

.navi
{
    overflow:unset !important;
}

.navi>div>div>div:nth-child(1)
{
    float:left !important;
}

.navi>div>div>div:nth-child(2)
{
    display:none !important;
}

.navi>div>div>div:nth-child(3)
{
    float:right !important;
}